/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Reset==========*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
:root {

  --color-hue: 206;
  --color-black: hsl(var(--color-hue), 4%, 4%);
  --color-black-alt: hsl(var(--color-hue), 4%, 8%);
  --color-title: hsl(var(--color-hue), 4%, 95%);
  --color-text: hsl(var(--color-hue), 4%, 75%);
  --color-text-light: hsl(var(--color-hue), 4%, 65%);
  --color-white: hsl(0, 0%, 100%);
  --color-bg: hsl(var(--color-hue), 4%, 6%);
  --color-container: hsl(var(--color-hue), 4%, 10%);
  
  --color-thumb: hsl(var(--color-hue), 4%, 16%);
  --color-thumb-alt: hsl(var(--color-hue), 4%, 20%);
  --color-transparent: hsla(0, 0%, 0%, 0);

  --color-gradient: linear-gradient(hsl(var(--color-hue), 4%, 8%), hsl(var(--color-hue), 4%, 24%));
  --color-gradient-1: linear-gradient(hsl(var(--color-hue), 4%, 30%), hsl(var(--color-hue), 4%, 20%));
  --color-gradient-2: linear-gradient(180deg, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0.274) 30%, hsla(0, 0%, 100%, 0.11) 50%);
  --color-gradient-3: linear-gradient(180deg, hsl(357, 78%, 63%) 0%, hsl(353, 92%, 70%) 100%);


  --font-size: .9rem;
  --line-height: 1.6;

  --transition: all 400ms ease-in-out;

  --container-lg: 80%;
  --container-md: 90%;
  --container-max-wd: 1920px;

  --shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-1: 0px 3px 6px hsla(0, 0%, 0%, 0.4);

}

/*==========Base==========*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
body {
  background: var(--color-gradient);
  color: var(--color-text);
  line-height: var(--line-height);
  font-size: var(--font-size);
}

/*==========General Styles==========*/
::-webkit-scrollbar {
  width: .5rem;
}
::-webkit-scrollbar-track {
  background: var(--color-thumb)
}
::-webkit-scrollbar-thumb {
  background: var(--color-thumb-alt);
}
section {
  padding: 5rem 0 2rem;
}
section > h2 {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: .9rem;
}
h6 {
  font-size: .8rem;
}
a {
  color: var(--color-text);
  transition: var(--transition);
}
img {
  width: 100%;
  display: block;
}


/*==========CSS Classes==========*/
.container {
  width: var(--container-lg);
  max-width: var(--container-max-wd);
  margin-inline: auto;
}
.section__title {
  text-align: center;
}
.section__title-gradient {
  background: var(--color-gradient);
  color: var(--color-transparent);
  -webkit-background-clip: text;
  background-clip: text;
}


/*==========Media Query==========*/
@media (max-width: 992px) {
  body {
    font-size: 1rem;
  }
  .container {
    width: var(--container-md);
  }
  section {
    padding: 8rem 0;
  }
  h1 {
    font-size: 2rem;
  }

}

/*==========Media Query Mobile==========*/
@media (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1rem;
  }

}


/*==========Header==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  background: var(--color-transparent);
  transition: var(--transition);
  z-index: 99;
}
.navbar {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.navbar__logo img {
  width: 2rem;
  box-shadow: var(--shadow-1);
}
.navbar__logo span {
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: var(--shadow-1);
  text-transform: lowercase;
}
.navbar__logo span strong {
  color: var(--color-text);
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.navbar__link {
  font-size: 1rem;
  font-weight: 700;
  background: var(--color-gradient-1);
  color: var(--color-transparent);
  -webkit-background-clip: text;
  background-clip: text;
}
.navbar__item .navbar__link:hover {
  background: var(--color-white);
  color: var(--color-transparent);
  -webkit-background-clip: text;
  background-clip: text;
}
.navbar__link i {
  margin-right: .2rem;
}
.navbar__link span {
  font-weight: 500;
  text-transform: capitalize;
}
.navbar__close, .navbar__toggle {
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

/*==========JavaScript==========*/
.scrolling {
  background: var(--color-bg);
  box-shadow: var(--shadow-1);
}

/*==========Media Query Header==========*/
@media (max-width: 992px) {
  .navbar__close, .navbar__toggle {
    display: inline-block;
  }
  .navbar__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  .navbar__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-bg);
    box-shadow: var(--shadow-1);
    padding: 8rem 0 0;
    transition: var(--transition);
  }
  .navbar__list {
    flex-direction: column;
  }

}

/*==========JavaScript==========*/
.show__menu {
  top: 0;
}


/*==========Home==========*/
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__image img {
  filter: contrast(1.5) brightness(2);
  mix-blend-mode: multiply;
  -webkit-box-reflect: below -150px linear-gradient(to bottom, hsla(0, 0%, 13%, 0), hsla(0, 0%, 13%, 0.11));
}
.home__data {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.home__title {
  font-size: 12rem;
  margin-block-end: -2rem;
  font-weight: 700;
  background: var(--color-gradient-2);
  color: var(--color-transparent);
  -webkit-background-clip: text;
  background-clip: text;
}
.home__subtitle {
  font-weight: 300;
  font-style: italic;
}
.home__bottom {
  width: 80%;
  margin-block-start: 2rem;
}
.home__description {
  text-transform: capitalize;
  padding: .5rem 0;
}


/*==========Media Query Home==========*/
@media (max-width: 768px) {
  .home__image img {
    -webkit-box-reflect: below -80px linear-gradient(to bottom, hsla(0, 0%, 13%, 0), hsla(0, 0%, 13%, 0.11));
  }
  .home__data {
    gap: 10rem;
  }
  .home__title {
    font-size: 7rem;
    margin-block-start: 1rem;
    margin-block-end: -1rem;
  }
  .home__bottom {
    width: 100%;
  }
  
}


/*==========Sponsor==========*/
.sponsor__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  place-items: center;
  gap: 2rem;
}
.sponsor__image {
  width: 4rem;
  transition: var(--transition);
  animation:  2s up linear infinite;
}

@keyframes up {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


/*==========Media Query Sponsor==========*/
@media (max-width: 992px) {
  .sponsor {
    padding: 2rem 0;
  }

}